{% extends 'base.html' %}
{% block title %}리류 상세보기{% endblock title %}

{% block body %}
  <div class='container'>
    <h1 class='text-center my-3'>리뷰 상세보기</h1>
    <hr>
    <p>
      <b>{{ reviews.user }}</b>
    </p>
    <p>내용 :
      {{ reviews.content }}</p>
    <p>별점 :
      {{ reviews.rating }}</p>
    <a class='btn btn-dark my-3' href="{% url 'reviews:review_update' restaurant.pk reviews.pk %}">수정하기</a>
    <a class='btn btn-dark my-3' href="{% url 'reviews:review_delete' restaurant.pk reviews.pk %}">삭제하기</a>
  </div>
{% endblock body %}