{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}리뷰 작성 하기{% endblock title %}

{% block body %}

  <div class='container cont my-3 mt-5'>
    <h6 class='rc-title my-3'>
      <span>{{ restaurant.name }}</span>
      에 대한 솔직한 리뷰를 써주세요.
    </h6>

    <form id="review-create" action="" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <p>이미지 추가</p>
      <div class="d-flex align-items-center">
        <img id="preview-01" width="100" height="100" style="display: none; margin: 0 10px 10px 0; border-radius: 5px;">
        <img id="preview-02" width="100" height="100" style="display: none; margin: 0 10px 10px 0; border-radius: 5px;">
        <img id="preview-03" width="100" height="100" style="display: none; margin: 0 10px 10px 0; border-radius: 5px;">
      </div>
      <div class="d-flex align-items-center">
        {% bootstrap_form reviewimage_form %}
      </div>
    </form>
    <div class="text-end">
      <a href="{% url 'restaurants:detail' restaurant.pk %}">
        <button class="rc__button-back">취소</button>
      </a>
      <a href="#" onclick="document.forms['review-create'].submit();">
        <button class="rc__button-submit">리뷰 올리기</button>
      </a>
    </div>
  </div>

{% endblock body %}