{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}리뷰 수정 하기{% endblock title %}

{% block body %}
  <div class='container my-3 cont mt-5'>
    <h6 class='rc-title my-3'>
      <span>{{ restaurant.name }}</span>
      에 대한 솔직한 리뷰를 써주세요.
    </h6>

    <form action="" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {% bootstrap_form review_form %}
      {% bootstrap_form reviewimage_form %}
    </form>
    <div class="text-end">
      <a href="{% url 'restaurants:detail' restaurant.pk %}">
        <button class="rc__button-back">취소</button>
      </a>
      <a href="#" onclick="document.forms['review-create'].submit();">
        <button class="rc__button-submit">리뷰 올리기</button>
      </a>
    </div>
  </div>
{% endblock body %}