{% extends 'base.html' %}
{% block title %}리류 상세보기{% endblock title %}

{% block body %}

<div class="rv-detail-wrap">
  <!-- Review-Detail -->
  <div class="rv-detail">
    <div class="container cont pt-3">
      <div class="rv-wrap">
        <!-- Rv-Top -->
        <div class="rv-top">
          <div class="rv-profile">
            <a href="{% url 'accounts:detail' review.user.pk %}">
              <div class="rv-profile__img">
                {% if review.user.profile_image %}
                <img src="{{ review.user.profile_image }}" alt="" style="width: 100%;">
                {% endif %}
              </div>
            </a>
            <div class="rv-profile__text">
              <p class="m-0 fs-5">{{ review.user.username }}</p>
              <div class="rv-profile__count">
                <i class="fa-solid fa-pen"></i>
                <span class="ms-1">{{ review.user.review_set.count }}</span>
              </div>
            </div>
          </div>
  
          <div class="rv-top-right">
              {% if review.rating > 3 %}
              <div style="color: var(--main-color);">
                <i class="fa-regular fa-face-grin-hearts fa-3x"></i>
                <p>맛있다</p>
              </div>
              {% elif review.rating == 3 %}
              <div style="color: var(--main-color);">
                <i class="fa-regular fa-face-grin-wide fa-3x"></i>
                <p>괜찮다</p>
              </div>
              {% else %}
              <div style="color: var(--main-color);">
                <i class="fa-regular fa-face-grin-beam-sweat fa-3x"></i>
                <p>별로</p>
              </div>
              {% endif %}
          </div>
        </div>
  
        <!-- Rv-Content -->
        <div class="rv-content">
          <div class="rv-content__text">
            <p class="m-0 mb-1">{{ review.content }}</p>
          </div>
          <div class="rv-content__wrap">
            <div class="rv-content__img">
              {% if review.reviewimage_set.all %}
              {% for reviewimage in review.reviewimage_set.all %}
                {% if reviewimage.photo1 %}
                <img src="{{ reviewimage.photo1.url }}" alt="">
                {% endif %}
                {% if reviewimage.photo2 %}
                <img src="{{ reviewimage.photo2.url }}" alt="">
                {% endif %}
                {% if reviewimage.photo3 %}
                <img src="{{ reviewimage.photo3.url }}" alt="">
                {% endif %}
              {% endfor%}
              {% endif %}
            </div>
          </div>
          <div class="rv-bottom d-flex justify-content-between align-items-center">
            <p class="m-0 py-2" style="color: var(--gray-color); font-size:14px;">{{ review.updated_at|date:'Y-m-d' }}</p>
            
            {% if request.user == review.user %}
            <div class="py-3">
              <a class="" href="{% url 'reviews:review_update' restaurant.pk review.pk %}">수정</a>
              <span style="color: var(--gray-color);">・</span>
              <a href="{% url 'reviews:review_delete' restaurant.pk review.pk %}">삭제</a>
            </div>
            {% endif %}
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}