{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}내 점포 등록{% endblock title %}

{% block body %}
  <div class=''>
    <h2 class='text-center mt-4'>내 점포 등록 하기</h2>
    <div class='container mt-5'>
      <hr>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form restaurants_form %}
        <br>
        <b>선택 사항</b>
        {% bootstrap_form category_form %}
        <input class='btn btn-dark my-3' type="submit" name="" id="" value='추가하기'>
      </form>
    </div>
  </div>
{% endblock body %}
