{% extends 'base.html' %}

{% block title %}
  상세보기
{% endblock title %}

{% block body %}
  <div class='container'>
    <h1 class='mt-4'>{{ restaurant.name }}
      <a class='btn' href="{% url 'reviews:review_create' restaurant.pk%}">리뷰작성</a>
    </h1>
    <hr>
    <p>주소 :
      {{restaurant.address }}</p>
    <p>전화번호 :
      {{ restaurant.shop_number }}</p>
    <p>기본 가격대 :
      {{ restaurant.between_pay }}</p>
    <p>영업 시간 :
      {{ restaurant.opening_time }}</p>
    <span>식당 홈페이지:
    </span>
    <a href="">식당 홈페에지 수정 할 곳</a>
    <p>카테고리 :
      {{ category.tag1 }},
      {{ category.tag2 }},
      {{ category.tag3 }},
      {{ category.tag4 }},
      {{ category.tag5 }}</p>
    <div class='text-end'>
      <a class='btn btn-dark my-2' href="{% url 'restaurants:delete' restaurant.pk %}">삭제하기</a>
    </div>
    <hr>
    {% for review in reviews %}
      <p>
        <b>{{ review.user }}</b>
      </p>
      <a href="{% url 'reviews:review_detail' restaurant.pk review.pk %}">{{ review.content }}</a>
      {% for reviewimage in review.reviewimage_set.all %}
        <img src="{{ reviewimage.photo1.url }}" alt="">
        {% endfor%}
        <p class='text-end'>{{ review.created_at }}</p>
        <hr>
        {% endfor%}
      </div>
    {% endblock body %}
