{% extends 'base.html' %}
{% block title %}식당 리스트{% endblock title %}

{% block body %}

  <div class="restaurants">
    <!-- Restaurants-top -->
    <div class="restaurants-top">
      <p>클릭수 | 날짜</p>
      <h1>{{ tag_name }} 베스트 (카운트)곳</h1>
      <p>"얼큰이 부대찌개에 라면사리는 국룰이지"</p>
    </div>

    <!-- Restaurants-list -->
    <div class="restaurants-list">
      <div class="container px-5 cont">
        <div class="restaurants__item">
          <div class="restaurants__img">
            <img src="https://i.pinimg.com/564x/be/66/20/be6620ae5749890854f3d467402c8b10.jpg" alt="">
          </div>
          <div class="restaurants__content">
            <div class="restaurants__content__top">
              <div class="">
                <a href="#" style="color: var(--dark-color);">
                  <h3>식당 이름<span class="main-color">(평점)</span></h3>
                </a>
                <p>식당 주소</p>
              </div>
              <i class="fa-regular fa-star fa-2x" style="color: var(--gray-color);"></i>
            </div>
            <div class="restaurants__content__comment">(작성자 사진, 이름) 댓글</div>
            <div class="restaurants__content__link">
              <a href="#">(식당 이름) 더보기
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'footer.html' %}
{% endblock body %}
