{% extends 'base.html' %}
{% load restaurants_tags %}
{% block title %}식당 리스트{% endblock title %}
{% block body %}

  <div class="restaurants">
    <!-- Restaurants-top -->
    <div class="restaurants-top">
      <p>{{ total_hits }} 클릭 | 2022-11-04</p>
      <h1>{{ tags }} 맛집 베스트 5곳</h1>
      <p>"한국인은 한식이지"</p>
    </div>

    <!-- Restaurants-list -->
    <div class="restaurants-list">
      <div class="container px-5 cont">
        {% for restaurant in restaurants %}
        <div class="restaurants__item">
          <div class="restaurants__img">
            <img src="https://i.pinimg.com/564x/be/66/20/be6620ae5749890854f3d467402c8b10.jpg" alt="">
          </div>
          <div class="restaurants__content">
            <div class="restaurants__content__top">
              <div class="">
                <a href="{% url 'restaurants:detail' restaurant.pk %}" style="color: var(--dark-color);">
                  <h3>{{ restaurant.name }} <span class="main-color">{{ restaurant.grade }}</span></h3>
                </a>
                <p>{{ restaurant.address }}</p>
              </div>
              <i class="fa-regular fa-star fa-2x" style="color: var(--gray-color);"></i>
            </div>
            {% if restaurant.review_set.all %}
            <div class="restaurants__content__comment">
              <img src="{{ restaurant|latest_image }}" style="width: 50px; height: 50px;" alt="">
              <p>{{ restaurant|latest_user }} <span>{{ restaurant|latest_content|truncatechars:200 }}</span></p>
            </div>
            {% endif %}
            <div class="restaurants__content__link">
              <a href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.name }} 더보기
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% include 'footer.html' %}
{% endblock body %}
