{% extends 'base.html' %}
{% block body %}

<!-- Category -->
<div class="category">
  <div class="container">
    <!-- Category-top -->
    <div class="category-top">
      <h1 class="category__title">믿고 보는 맛집 리스트</h1>
      <div class="category__list">
        <div class="category__item">
          <a href="{% url 'restaurants:top_lists' %}">
            <h5 class="category__name"># 전체</h5>
          </a>
        </div>
        <div class="category__item" style="border: 1px solid var(--main-color);">
          <a href="{% url 'restaurants:korea' %}" style="color: var(--main-color);">
            <h5 class="category__name" style="color: var(--main-color);"># 한식</h5>
          </a>
        </div>
        <div class="category__item">
          <a href="{% url 'restaurants:china' %}">
            <h5 class="category__name"># 중식</h5>
          </a>
        </div>
        <div class="category__item">
          <a href="{% url 'restaurants:japan' %}">
            <h5 class="category__name"># 일식</h5>
          </a>
        </div>
        <div class="category__item">
          <a href="{% url 'restaurants:western' %}">
            <h5 class="category__name"># 양식</h5>
          </a>
        </div>
        <div class="category__item">
          <a href="{% url 'restaurants:school' %}">
            <h5 class="category__name"># 분식</h5>
          </a>
        </div>
      </div>
    </div>

    <!-- Category-menu -->
    <div class="category-menu">
      <div class="container text-center">
        <div class="row row-cols-sm-1 row-cols-md-2 gx-5 test">
          <!-- Menu-item -->
          <a href="#" onclick="document.forms['form-01'].submit();">
            <div class="category-menu__item col p-3">
              <div class="menu__item__wrap">
                <div class="category__img category__img-01"></div>
                <div class="menu__item__cover"></div>
                <div class="menu__item__text">
                  <h3>한식, 부대찌개 맛집 베스트 (카운트)곳</h3>
                  <p>"한식~"</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Category-menu-Form -->
    <form id="form-01" method="post" action="{% url 'restaurants:list' %}">
      {% csrf_token %}
      <input type="hidden" id="tag" name="tag" value="한식, 부대찌개">
    </form>
    <!-- Category-menu--Form-End -->
    <!-- Category-menu-End -->
  </div>
</div>

<!-- Footer -->
{% include 'footer.html' %}
{% endblock body %}
<!-- Body-End -->