{% extends 'base.html' %}
{% load restaurants_tags %}
{% block title %}식당 리스트{% endblock title %}
{% block body %}

  <div class="restaurants">
    <!-- Restaurants-top -->
    <div class="restaurants-top">
      <p>{{ total_hits }} 클릭 | {{ restaurants.0.created_at|date:'Y-m-d' }}</p>
      <h1>{{ tags }} 맛집 베스트 {{ restaurants_count }}곳</h1>
      <p>"{{ tags }} 맛집 몽땅 모았다!"</p>
    </div>

    <!-- Restaurants-list -->
    <div class="restaurants-list">
      <div class="container px-5">
        {% for restaurant in restaurants %}
        <div class="restaurants__item sa sa-up">
          <!-- restaurant-image -->
          <div class="restaurants__img">
            {% if restaurant.review_images.last.photo1 %}
            <img src="{{ restaurant.review_images.last.photo1.url }}" alt="">
            {% else %}
            <img class="card-img-top rounded-0" src="https://picsum.photos/300/200" style="width: 100%; height: 200px;" alt="..">
            {% endif %}
          </div>
          <!-- restaurant-content -->
          <div class="restaurants__content">
            <div class="restaurants__content__top">
              <div class="">
                <a href="{% url 'restaurants:detail' restaurant.pk %}" style="color: var(--dark-color);">
                  <h3>{{ restaurant.name }} <span class="main-color">{{ restaurant.grade }}</span></h3>
                </a>
                <p>{{ restaurant.address }}</p>
              </div>
              <!-- Restaurants-list-Likes -->
              {% if request.user.is_authenticated %}
              <form class="like-forms" data-restaurant-id="{{ restaurant.pk }}">
                {% csrf_token %}
                {% if user in restaurant.like_users.all %}
                  <button id="like-{{ restaurant.pk }}" type="submit" style="background: none; border: 0; color: var(--main-color);">
                    <i id="star-{{ restaurant.pk }}" class="fa-solid fa-star fa-2x"></i>
                  </button>
                  {% else %}
                  <button id="like-{{ restaurant.pk }}" type="submit" style="background: none; border: 0; color: var(--gray-color);">
                    <i id="star-{{ restaurant.pk }}" class="fa-regular fa-star fa-2x"></i>
                  </button>
                {% endif %}
              </form>
              {% endif %}
            </div>
            <!-- Restaurants-list-Review -->
            {% if restaurant.reviews.last.user %}
            <div class="restaurants__content__comment d-flex">
              <div class="me-3">
                {% if restaurant.reviews.last.user.profile_image %}
                <img src="{{ restaurant.reviews.last.user.profile_image }}" style="width: 50px; height: 50px; border-radius: 50%;" alt="">
                {% else %}
                <img src="https://postfiles.pstatic.net/MjAyMDExMDFfMTA1/MDAxNjA0MjI4ODc1Mzk0.05ODadJdsa3Std55y7vd2Vm8kxU1qScjh5-3eVJ9T-4g.h7lHansSdReVq7IggiFAc44t2W_ZPTPoZWihfRMB_TYg.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%8C%8C%EB%9E%91.jpg?type=w773" style="width: 50px; height: 50px; border-radius: 50%;" alt="">
                {% endif %}
              </div>
              <div class="txt-line" style="color: var(--dark-color);">
                <span class="fw-bold fs-5 me-1">{{ restaurant.reviews.last.user.username }}</span>
                <span>{{ restaurant.reviews.last.content }}</span>
              </div>
            </div>
            {% endif %}
            <div class="restaurants__content__link">
              <a href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.name }} 더보기
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>



<!-- Script -->
<!-- CDN axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  const forms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  forms.forEach((form) => {
    form.addEventListener('submit', function(event) {
      event.preventDefault();
      const restaurantId = event.target.dataset.restaurantId
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/restaurants/${restaurantId}/like/`,
        headers: {'X-CSRFToken': csrftoken}, // csrf token
      })
      .then((response) => {
        console.log(response.data)
        const isLiked = response.data.is_liked
        const likeBtn = document.querySelector(`#like-${restaurantId}`)
        const starBtn = document.querySelector(`#star-${restaurantId}`)
        if (isLiked === true) {
          starBtn.classList.remove('fa-regular')
          starBtn.classList.add('fa-solid')
          starBtn.style.color='var(--main-color)';
        } else {
          starBtn.classList.remove('fa-solid')
          starBtn.classList.add('fa-regular')
          starBtn.style.color='var(--gray-color)';
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })

</script>

{% include 'footer.html' %}
{% endblock body %}
