{% extends 'base.html' %}



{% block body %}

<!-- Visual -->
<section class="visual">
  <div class="visual-cover"></div>
  <div class="visual-wrap">
    <h1 class="mb-5">솔직한 리뷰, 믿을 수 있는 평점! <br />삼십쩜오</h1>

    <!-- Search-Form -->
    <div class="search_box">
      <div class="search">
        <div class="select_area">
          <i class="fas fa-map-marker-alt map_icon"></i>
          <div class="text">지역</div>
        </div>
        <div class="line"></div>
        <div class="text_and-icon">
          <input type="text" class="search_text" id="search_text" placeholder="식당 또는 음식">
          <i class="fas fa-search search_icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Menu-list -->
<section class="menu">
  <div class="container">
    <div class="menu__top">
      <h2 class="fs-3">믿고 보는 맛집 리스트</h2>
      <div class="menu__link">
        <a href="#">리스트 더보기 <i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="menu__list">
      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-5">
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <!-- Menu-item -->
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<!-- Story -->
<section class="menu">
  <div class="container">
    <div class="menu__top">
      <h2 class="fs-3">맛집 스토리</h2>
      <div class="menu__link">
        <a href="#">리스트 더보기 <i class="fa-solid fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="menu__list">
      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-5">
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <!-- Menu-item -->
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<!-- Grade -->
<section class="menu">
  <div class="container">
    <div class="menu__top">
      <h2 class="fs-3">평점 높은 인기 식당</h2>
    </div>
    <div class="menu__list">
      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-5">
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <div class="menu__item col p-3">
            <div class="menu__item__wrap">
              <div class="menu__item__img"></div>
              <div class="menu__item__cover"></div>
              <div class="menu__item__text">
                <h3>제천 / 단양 맛집 베스트 7곳</h3>
                <p>"볼거리, 먹거리 많은 제천/단양으로 출발~"</p>
              </div>
            </div>
          </div>
          <!-- Menu-item -->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}