:root {
  /* Color */
  --main-color: #FF7929;
  --gray-color: #adb5bd;
  --gray-light--color:#F7F7F7;
  --gray-dark--color:#6c757d;
  --dark-color: #3E3E3E;
  --white-color: #F7F7F7;
}


/* Login */
.login-form {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 21;
  margin-top: 50px;
}

.login-wrap {
  background-color: #fff;
  padding: 100px 40px;
  border-radius: 20px;
  position: relative;
}

.login-wrap h3 {
  font-weight: 700;
}

.login-wrap p {
  color: var(--gray-dark--color);
}

.login-back {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: .3;
  transition: all ease-in-out .3s;
}

.login-back:hover {
    opacity: 1;
    transform: rotateZ(90deg)
    
}

.login-cover {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: absolute;
  top: 0;
  z-index: 20;
}


/* Detail */
.profile-detail {
  display: flex;
}

.pd__img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pd__img img {
  width: 100%;
  background-color: #adb5bd;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd__info-top {
  display: flex;
  align-items: center;
}

.pd__info__username {
  display: flex;
}

.pd__info__btn-follow {
  border: 1px solid var(--gray-light--color);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 0 10px 0 20px;
}

.pd__info__btn-arrow {
  border: 1px solid var(--gray-light--color);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.pd__info-bottom {
  display: flex;
  align-items: center;
}

.pd__email {
  color: #01376A;
}

.like-outbox {
  width: 100%;
  height: auto;
}

.like-box {
  display: inline-block;
  width: 30%;
  height: 25vw;
  border: 1px solid var(--gray-color);
  margin: 0 10px 10px 0;
}

.like-box__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.like-box__item img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 18px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__description__count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.like-box__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}