@import 'reset.css';


:root {
  --main-color: #FF7929;
  --gray-color: #adb5bd;
  --gray-light--color:#F7F7F7;
  --gray-dark--color:#6c757d;
  --dark-color: #3E3E3E;
}


/* Global */
a:link {
  color: var(--gray-color);
}

a {
  text-decoration: none !important;
}

a:visited {
  color: var(--gray-color);
}

a:hover {
  color: var(--gray-color) !important;
}

input:focus {
  outline: none;
}

body {
  height: 2000px;
}

input::placeholder {
  color: var(--gray-color);
}

input[type=button]{
  width: 10%;
  height:100%;
  background-color: lightgray;
  border:none;
  background-color: white;
  font-size:1em;
  color:var(--gray-color);
  outline:none;
  display:inline;
  margin-left: -10px;
  box-sizing: border-box;
}


/* Nav */
.nav {
  background-color: #fff;
  box-shadow: 1px 1px 10px 1px var(--gray-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-wrap > form {
  width: 650px;
}

/* Footer */
.footer {
  background-color: var(--dark-color);
}