:root {
  /* Color */
  --main-color: #FF7929;
  --gray-color: #adb5bd;
  --gray-light--color:#F7F7F7;
  --gray-dark--color:#6c757d;
  --gray-dark-color: #9C9C9C;
  --green-color: #f3f7f0;
  --dark-color: #3E3E3E;
  --white-color: #F7F7F7;
}


/* Category */
.category {
  padding: 50px 0;
}

.category__title {
  font-size: 28px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.category__list {
  display: flex;
}

.category__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-right: 10px;
  padding: 10px 25px;
  border: 1px solid var(--gray-color);
  border-radius: 30px;
}

.category__name {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
  color: var(--gray-color);
}

.category-menu__item {
  height: 300px;
}

.category__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.category__img-00 {
  background-image: url(https://i.pinimg.com/564x/82/f8/76/82f876eac280e80bc666acb3e0febe3f.jpg);
}
.category__img-01 {
  background-image: url(https://i.pinimg.com/564x/e2/09/50/e209508297c0f6e8caac28b4885b5c9b.jpg);
}
.category__img-02 {
  background-image: url(https://i.pinimg.com/564x/22/78/d1/2278d1a947a29bb618b70badcbdae48e.jpg);
}
.category__img-03 {
  background-image: url(https://i.pinimg.com/564x/7e/4d/94/7e4d94d1e2e95a000d374438d57acaac.jpg);
}
.category__img-04 {
  background-image: url(https://i.pinimg.com/564x/ab/3e/5f/ab3e5fcf99277b12ecc40e87fb165382.jpg);
}
.category__img-05 {
  background-image: url(https://i.pinimg.com/564x/fc/9b/98/fc9b98d383681192633e670967e6eb62.jpg);
}

.menu__item__text h3,
.menu__item__text p {
  margin: 0;
}


/* Index & List */
/* Restaurants */
.cont {
  width: 65% !important;
}

.restaurants {
  background-color: var(--gray-light--color);
}

.restaurants p {
  margin: 0;
  color: var(--gray-dark-color);
}

.restaurants h1 {
  margin: 10px 0;
}

.restaurants-top {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--gray-light--color);
}

.restaurants-list {
  background-color: #fff;
}

.restaurants__item {
  display: flex;
  border-bottom: 1px solid var(--gray-color);
  padding: 30px 0;
}

.restaurants__img {
  width: 350px;
  max-height: 250px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.restaurants__img img {
  width: 100%;
  height: 200px;
}

.main-color {
  color: var(--main-color);
}

.restaurants__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurants__content__top {
  display: flex;
  justify-content: space-between;
}

.restaurants__content__link {
  text-align: end;
  color: var(--gray-color);
}

.txt-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: 1.2em;
  height: 3.6em; 
}


/* Restaurants-Detail */
/* Img-Top */
.img-top {
  width: 100%;
  overflow: hidden;
}

.img-top__img {
  width: 450px;
  max-height: 350px;
  overflow: hidden;
}

.img-top__img img {
  width: 100%;
  height: auto;
}


/* Detail */
.detail {
  margin-top: 50px;
  border-bottom: 1px solid var(--gray-color);
}

.detail-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray-color);
}

.detail__title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.detail__title h2 {
  margin: 0;
  margin-right: 10px;
}

.detail__title span {
  color: var(--main-color);
}

.detail__count {
  color: var(--gray-color);
}

.detail__btn {
  color: var(--gray-color);
}


/* Detail-Table */
table {
  padding-top: 10px;
  border-spacing: 15px;
  border-collapse: separate;
}

table th {
  width: 150px;
  color: var(--gray-dark-color);
}

table td {
  padding: 10px;
  color: var(--dark-color);
}

.detail-update p {
  color: var(--gray-dark-color);
  font-size: 12px;
}


/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

/* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
