:root {
  /* Color */
  --main-color: #FF7929;
  --gray-color: #adb5bd;
  --gray-light--color:#F7F7F7;
  --gray-dark--color:#6c757d;
  --gray-dark-color: #9C9C9C;
  --green-color: #f3f7f0;
  --dark-color: #3E3E3E;
  --white-color: #F7F7F7;
}


/* Review */
.review {
  display: flex;
  flex-direction: column;
}

.review-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.review-top span {
  color: var(--gray-color);
}

.like-count {
  display: flex;
}

.like-count h6:first-child {
  color: var(--main-color);
  border-left: 0;
}

.like-count h6 {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid var(--gray-color);
  color: var(--gray-dark--color);
}

.review-content {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-color);
}

.review-content:hover {
  background-color: var(--gray-light--color);
}

.review-left,
.review-right {
  width: 15%;
}

.review-left {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__profile {
  width: 80px;
  max-height: 80px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.review-profile img {
  width: 100%;
}

.user-count {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-color);
}

.review-center {
  width: 68%;
  padding: 20px;
}

.review-center img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: 0 5px 5px 0;
}

.review-create {
  color: var(--gray-color);
  font-size: 14px;
  margin: 0;
}

.review-right {
  text-align: end;
  padding-top: 20px;
}

/* review-detail */
.rv-detail-wrap {
  height: 100vh;
  width: 100%;
  background-color: var(--white-color);
}

.rv-wrap {
  background-color: #fff;
}

.rv-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.rv-profile {
  display: flex;
}

.rv-profile__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.rv-profile__img img {
  width: 100%;
}

.rv-profile__count {
  color: var(--gray-dark--color);
  font-size: 12px;
}

.rv-content {
  padding: 0 20px;
}

.rv-content__wrap {
  overflow: hidden;
}

.rv-content__img {
  width: 1000px;
  display: flex;
}

.rv-content__img img {
  width: 180px;
  height: 180px;
  margin: 0 5px 5px 0;
}


/* Review-Create */
.rc-title {
  color: var(--gray-dark--color);
}

.rc-title span {
  color: var(--main-color);
  font-size: 24px;
}

.rc__button-back,
.rc__button-submit {
  width: 120px;
  height: 50px;
  background: none;
  border: 0;
  border-radius: 40px;
}

.rc__button-back {
  border: 1px solid var(--dark-color);
  margin-right: 10px;
  color: var(--dark-color);
}

.rc__button-submit {
  border: 1px solid var(--gray-color);
  background-color: var(--gray-color);
  color: var(--white-color);
  opacity: .3;
}

.rc__button-submit:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  opacity: 1;
}

#image_field::file-selector-button {
  display: none;
}

