{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}프로필 수정{% endblock title %}


{% block body %}
  
<h1 class="my-3 mt-5 text-center">회원정보 수정</h1>
<div class="d-flex justify-content-center my-3">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "확인" button_type="submit" button_class="btn-primary w-100" %}
    </form>
  </div>
</div>

{% endblock body %}

