<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <!-- Footer -->
  <footer class="footer">
    <div class="container d-flex p-5">
      <div class="">
        <div class="footer__logo fs-1">LOGO</div>
        <p class="mt-3" style="font-size: 12px; color: #adb5bd;">맛집 정보 및 후기 공유 커뮤니티 서비스</p>
      </div>
      <div class="footer__link d-flex justify-content-around align-items-center w-100">
        <a href="#" class="d-flex flex-column align-items-center"><i class="fa-brands fa-github fa-2x mb-2"></i>송강섭</a>
        <a href="#" class="d-flex flex-column align-items-center"><i class="fa-brands fa-github fa-2x mb-2"></i>주세환</a>
        <a href="#" class="d-flex flex-column align-items-center"><i class="fa-brands fa-github fa-2x mb-2"></i>조병진</a>
        <a href="#" class="d-flex flex-column align-items-center"><i class="fa-brands fa-github fa-2x mb-2"></i>김선교</a>
      </div>
    </div>
  </footer>

</body>
</html>