<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!-- Nav -->
  <nav class="nav d-flex justify-content-between">
    <div class="d-flex">
      <div class="nav__logo p-4 me-3">30.5</div>
      <form class="d-flex align-items-center">
        <i class="fa-solid fa-magnifying-glass" style="color: #adb5bd;"></i>
        <input type="text" placeholder=" 지역, 식당 또는 음식" style="border: none;">
      </form>
    </div>
    <div class="d-flex">
      <ul class="nav__list d-flex">
        <li class="nav__item p-4 border-start"><a href="#">맛집 리스트</a></li>
        <li class="nav__item p-4 border-start"><a href="#">망고 스토리</a></li>
      </ul>
      <div class="nav__profile p-4 border-start">Profile</div>
    </div>
  </nav>

</body>

</html>