{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}

{% comment %} 캐러셀 {% endcomment %}
<a href="">
<section class="visual-stories">
  <div class="visual-cover"></div>
  <div class="visual-wrap">
    <h1 class="text-center text-light">11월 30.5가 가본 최고 맛집!!</h1>
    <p class="text-center text-light">30대의 입맛에 딱 맞는 최고 음식</p>
  </div>
</section>
</a>
  {% comment %} story create {% endcomment %}

<div class="container">
  <div>
    <h3 class="select_area my-5">에디터 입맛별 맛집 매거진</h3>
    <div class="row">
      {% for story in stories %}
        <div class="col col-12 col-sm-6">
          <a href="{% url 'stories:detail' story.pk %}">
            <!-- Card -->
            <div class="sa sa-up card border-0" style="border-radius: 0;">
              <!-- Card-Top -->
              <div class="card-top">
                {% if story.main_image %}
                  <div class="card-cover"></div>
                  <div class="card-story-title m-0">
                    <h3 class="m-0">{{ story.title }}</h3>
                  </div>
                  <img src="{{ story.main_image.url }}" class="card-img-top img-fluid" alt="..." style="border-radius: 0;">
                {% else %}
                  <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top" style="border-radius: 0;">
                {% endif %}
                <!-- Profile-Img -->
                <div class="story__profile">
                  <div class="profile-dot-page">
                    <p>MP</p>
                  </div>
                  <img src="{{ story.user.profile_image }}" width="80" height="80" style="border-radius: 50%; border: 2px solid var(--main-color);" alt="">
                  <p style="color: var(--main-color); margin-top: -5px;">{{ story.user.username }}</p>
                </div>
              </div>
              <!-- Card-Body -->
              <div class="card-body p-0 p-5">
                <div class="card-wrap">
                  <div class="card-back__comment">
                    <i class="fa-solid fa-quote-left fa-5x" style="color: var(--gray-color); opacity: .2;"></i>
                  </div>
                  <p class="card-text m-0 mt-5 story-text" style="color: var(--dark-color);">{{ story.subtitle }}</p>
                  <p class="card-text story-name" style="color: var(--dark-color);">{{ story.user.username }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% include 'footer.html' %}

{% endblock body %}