{% extends 'base.html' %}

{% block body %}

<!-- Search -->
<div class="search-test">
  <div class="container cont">
    <h1 class="my-5 fs-3 text-center" style="color: var(--main-color);">{{ kw }} 맛집 인기 검색 순위</h1>
  </div>
  <div class="search-list">
    <div class="container text-center">
      
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
      {% for restaurant in restaurant_list %}
        <div class="col">
          <!-- Card -->
          <a href="{% url 'restaurants:detail' restaurant.pk %}">
          <div class="card m-auto mb-3 border-0 rounded-0" style="width: 21rem;">
            {% if restaurant.reviewimage_set.all.photo1 %}
              <img class="card-img-top rounded-0" src="{{ restaurant.reviewimage_set.all.photo1.url }}" style="width: 100%; height: 200px;" alt="Title">
            {% else %}
              <img class="card-img-top rounded-0" src="https://picsum.photos/300/200" style="width: 100%; height: 200px;" alt="Title">
            {% endif %}
            <div class="card-body d-flex p-0 py-2">
              <div class="detail__title d-flex flex-column align-items-start m-0">
                <div class="d-flex align-items-center">
                  <h4 class="card-title m-0 me-2" style="color: var(--dark-color);">{{ restaurant.name }}</h4>
                  <span class="fs-3">{{ restaurant.grade }}</span>
                </div>
                <div class="">
                  <p class="card-text" style="color: var(--gray-color);">{{ restaurant.address }}</p>
                </div>
                <div class="">
                  <span style="color: var(--gray-color); font-size: 12px;"><i class="fa-solid fa-eye me-1"></i>{{ restaurant.hits }}</span> 
                  <span style="color: var(--gray-color); font-size: 12px;"><i class="fa-solid fa-pen me-1"></i>{{ restaurant.review_set.count }}</span>
                </div>
              </div>
            </div>
          </div>
          </a> 
          <!-- Card-End -->
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock body %}
